In [8]:
import pandas as pd

Cargar datos

In [9]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv('dataset_final.csv')

In [10]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''

print("Hay",len(df), "pokemones")

Hay 800 pokemones

In [11]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''

#df['Type1'].value_counts()

print("Hay",len(df[df['Type 1']=="Poison"]), "pokemones de tipo Poison")

Hay 28 pokemones de tipo Poison

In [12]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''

different_pokemons = df["Type 1"].unique()

print("Hay", len(different_pokemons), "tipos diferentes de pokemones")

Hay 18 tipos diferentes de pokemones

In [13]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''

pokemones_por_tipo = df.groupby(['Type 1']).count()["#"]
print(pokemones_por_tipo)

'''
2.1 ¿cual es el tipo de pokémon con más pokémon? (Type 1)
'''

max_type = pokemones_por_tipo.idxmax()
print("El tipo de pókemon con más pokemones es:",(max_type))

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: #, dtype: int64
El tipo de pókemon con más pokemones es: Water

In [14]:
'''
3. ¿Cuál es el pokémon más rápido?
'''

max_speed = df["Speed"].max()

df[df["Speed"] == max_speed ]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

In [15]:
'''
4. ¿Cuántos pokemon tiene una defensa superior a 100?
'''

defense_max_100 = (df[df['Defense'] > 100])

print("Hay", (len(defense_max_100)), "pokemones con defensa superior a 100")

'''
4.1 ¿Cuántos pokemon tiene una defensa superior a 100?
'''

Hay 123 pokemones con defensa superior a 100

'\n4.1 ¿Cuántos pokemon tiene una defensa superior a 100?\n'

In [16]:
'''
5. ¿Cuántos pokemon tiene una defensa superior a 100 y una velocidad superior a 100?
'''
defense_speed_max_100 = df[(df['Defense'] > 100) & (df["Speed"] > 100)]

print("Hay",(len(defense_speed_max_100)), "pokemones que tienen una defensa y una velocidad superior a 100")

Hay 9 pokemones que tienen una defensa y una velocidad superior a 100

In [17]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [18]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''

df_water_fire = df[(df['Type 1'] == 'Water') | (df["Type 1"] == "Fire")] 

print(df_water_fire)

       #                       Name Type 1  Type 2  Total  HP  Attack  \
4      4                 Charmander   Fire     NaN    309  39      52
5      5                 Charmeleon   Fire     NaN    405  58      64
6      6                  Charizard   Fire  Flying    534  78      84
7      6  CharizardMega Charizard X   Fire  Dragon    634  78     130
8      6  CharizardMega Charizard Y   Fire  Flying    634  78     104
..   ...                        ...    ...     ...    ...  ..     ...
735  667                     Litleo   Fire  Normal    369  62      50
736  668                     Pyroar   Fire  Normal    507  86      68
762  692                  Clauncher  Water     NaN    330  50      53
763  693                  Clawitzer  Water     NaN    500  71      73
799  721                  Volcanion   Fire   Water    600  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
..       ...      ...      ...    ...         ...        ...
735       58       73       54     72           6      False
736       72      109       66    106           6      False
762       62       58       63     44           6      False
763       88      120       89     59           6      False
799      120      130       90     70           6       True

[164 rows x 13 columns]

In [19]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''

df_legendary = df[(df['Legendary'] == True)]
print(df_legendary)

       #                 Name    Type 1    Type 2  Total   HP  Attack  \
156  144             Articuno       Ice    Flying    580   90      85
157  145               Zapdos  Electric    Flying    580   90      90
158  146              Moltres      Fire    Flying    580   90     100
162  150               Mewtwo   Psychic       NaN    680  106     110
163  150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190
..   ...                  ...       ...       ...    ...  ...     ...
795  719              Diancie      Rock     Fairy    600   50     100
796  719  DiancieMega Diancie      Rock     Fairy    700   50     160
797  720  HoopaHoopa Confined   Psychic     Ghost    600   80     110
798  720   HoopaHoopa Unbound   Psychic      Dark    680   80     160
799  721            Volcanion      Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
156      100       95      125     85           1       True
157       85      125       90    100           1       True
158       90      125       85     90           1       True
162       90      154       90    130           1       True
163      100      154      100    130           1       True
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[65 rows x 13 columns]

In [20]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
df_leg_mean = df_legendary[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean() 

print(df_leg_mean)

df_not_legendary = df[(df['Legendary'] == False)]

df_not_legendary_mean = df_not_legendary[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].mean()
print(df_not_legendary_mean)

HP          92.738462
Attack     116.676923
Defense     99.661538
Sp. Atk    122.184615
Sp. Def    105.938462
Speed      100.184615
dtype: float64
HP         67.182313
Attack     75.669388
Defense    71.559184
Sp. Atk    68.454422
Sp. Def    68.892517
Speed      65.455782
dtype: float64

In [21]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''

#INTENTO DE RESOLUCION CON TRANSPOSE
#df1 = pd.DataFrame(data = df_not_legendary_mean)

#df1_transposed = df1.T
#print(df1_transposed)

#df2 = pd.DataFrame(data = df_leg_mean)

#df2_transposed = df2.T
#print(df2_transposed)

#df_legendaries = [(df2_transposed), (df1_transposed)]

#print(df_legendaries)


df_avg = pd.DataFrame([df_leg_mean, df_not_legendary_mean], columns=["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"], index=["Legendary", "No Legendary"])

print(df_avg)

                     HP      Attack    Defense     Sp. Atk     Sp. Def  \
Legendary     92.738462  116.676923  99.661538  122.184615  105.938462
No Legendary  67.182313   75.669388  71.559184   68.454422   68.892517

                   Speed
Legendary     100.184615
No Legendary   65.455782

In [57]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que indique si el pokemon tiene dos tipos o no
'''
#Lo he intentado de varias formas pero de momento no me dan los boleanos correctos

#Doble_tipo = bool

#df["Doble_tipo"] = Doble_tipo

#type_2_null = df[df["Type 2"].isnull()]

#Arroja todos a True
df["Doble_tipo"] = df["Type 2"].apply(lambda x: "False" if "Type 2" == "NaN" else "True")

#Arroja todo class bool
df.loc[df["Type 2"] == "NaN","Doble_tipo"] = "False"

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Doble_tipo
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,True

In [23]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name
'''

'\n12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1 , Type 2 y Name\n'

In [24]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra
def calcular_compra ():
    suma_compra = 0
    for element in compra:
        suma_compra = suma_compra + articulos[element]
print("A. El total de la compra es de", suma_compra)


# B. Una función que calcule el precio total de la compra con un descuento del 10%

def calcular_compra_dto ():
    suma_compra = 0
    compra_descontada = 0 
    for element in compra:
        suma_compra = suma_compra + articulos[element]
        compra_descontada = suma_compra * 0.9
    print("B. La compra, obteniendo un 10% de descuento es de:",compra_descontada)
calcular_compra_dto()

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
def compra_condicional ():
    suma_compra = 0
    compra_descontada = 0 
    for element in compra:
        suma_compra = suma_compra + articulos[element]
        if suma_compra > 100:
            compra_descontada = suma_compra * 0.9
        else:
            compra_descontada = suma_compra
    print("C. La compra es de:",compra_descontada)

compra_condicional()

# D. Una función que calcule el precio total aplicando el IVA (21%)
def calcular_compra_iva ():
    suma_compra = 0
    for element in compra:
        sum_compra = sum_compra + articulos[element]
        compra_con_iva = sum_compra + ((sum_compra*21)/100)
print("D. El total de la compra con IVA es de", compra_con_iva)

# E.lista los artículos cuyo precio es superior a 20€

def find_max ():
    for element in articulos:
        if articulos[element] > 20:
            print (element)

find_max()

NameError: name 'suma_compra' is not defined

In [ ]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca e nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [5, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 8, 9]),
            ('Luis', 'González', '1', [5, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 6, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 7, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 7, 8, 9]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 9]),
            ('Sara', 'Díaz', '2', [5, 6, 7, 8, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [5, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [5, 6, 7, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 7, 8, 9]),
            ('Pablo', 'Álvarez', '1', [5, 6, 7, 8, 9]),
            ('María', 'Gómez', '2', [5, 6, 7, 8, 9]),
]

#Al poner el curso como input de la función, no logro imprimir la lista. Dejé el valor fijo con curso en 1
def notas_curso(curso):
    for alumno in alumnos:
        if alumno[2] == "1":
            promedio_notas = sum(alumno[3])/len(alumno[3])
            print(list((alumno[0], alumno[1], promedio_notas)))
    
notas_curso(1)

['Juan', 'Pérez', 7.0]
['Luis', 'González', 7.0]
['Pedro', 'Rodríguez', 7.0]
['Marta', 'López', 7.0]
['Javier', 'Sánchez', 7.0]
['Sergio', 'Jiménez', 7.0]
['Pablo', 'Álvarez', 7.0]